<form action="/card">
  <input type="text" id="cardName" name="cardName">
  <input type="submit" value="Card Search">
</form>
<form action="/deal">
  <input type="text" id="cardName" name="cardName">
  <input type="submit" value="Deal Hunt">
</form>
<a href="/modernhunter">Modern Deal Hunter</a>
<br>
<a href="/edhhunter">EDH Deal Hunter</a>

<br>
Results:
<br><br>