<form action="/card">
  <input type="text" id="cardName" name="cardName">
  <input type="submit" value="Submit">
</form>
<form action="/deal">
  <input type="text" id="cardName" name="cardName">
  <input type="submit" value="Deal">
</form>

<br>
Results:
<br><br>